@model List<FirstMVCApp.Models.DogViewModel>

@{ }


<h1>Hello World bro!</h1>
<p>This is the index page of the HelloWorld Controller</p>


<ul>
    @foreach(var dog in Model){

        <li>
            @dog.Name (@dog.Age)
        </li>


    }

</ul>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
